# Core
langchain==0.3.25
langchain-community==0.3.23
langchain-mistralai==0.2.10

# PDF
pymupdf==1.25.5

# Embeddings
# sentence-transformers==3.4.1
faiss-cpu==1.9.0.post1

# Retrieval
rank-bm25==0.2.2

# LLM
mistralai==1.7.0
ollama==0.4.7

# UI
streamlit==1.45.0

# Utils
python-dotenv==1.1.0
pydantic==2.11.4

fastapi==0.115.0
uvicorn==0.30.6
python-multipart==0.0.9